<link rel="stylesheet" href="/css/signup.css">
<div class="mainContainer ">
    
    <div class="formInput">
        <div class="register-heading" style="margin-top: 10px;">
            <h2> Enter Your Details... </h2>
        </div>
        
        <form method="POST" action="/users/forgetPasswordLink" >
            <input type="email" name="email" placeholder="Enter email" required><br>
            <input type="password" name="password" placeholder="Enter password" required><br>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br>
            
            <div class= 'buttons'>
                <div class = 'submitButtons'><button type="submit">Reset</button></div>
                
            </div>

            <div class="register">
                <a href="/users/sign-up"> Create new account</a>
            </div>
    </div>
</div> 